/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&family=Jost&display=swap");

/* .wrapper */

.wrapper {
	width: 100%;
	max-width: 1440px;

	margin: 0 auto;

	overflow: hidden;

	background: #ffffff;
}


/* .inner */


.inner {
	width: 100%;
	max-width: 1200px;

	margin: 0 auto;
}

@media (max-width: 1250px) {
	.inner {
		padding: 0 15px;
	}
}



/* .header */

.body__header {
	margin: 0 auto 18px;
	padding: 26px 0 0;

	width: 100%;

	font: normal 400 20px/1.5 "Jost", sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 30px;

	width: 100%;
}


/* .nav */

.nav__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	gap: 40px;
	flex-wrap: wrap;

	width: 100%;
}

/* .intro */

.intro {
	position: relative;

	width: 100%;
	min-height: 831px;

	margin: 0 0 100px;

	overflow: hidden;

	border-radius: 0 0 0 300px;
	background: url("../img/image/intro/intro__bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.intro__container {
	margin: 195px 0 0;

	width: 100%;
	max-width: 600px;
}


/* .title */

.title {
	font: normal 400 80px/1.2 "DM Serif Display", serif;
	letter-spacing: 0.22px;
	text-transform: capitalize;
	color: #292f36;
}

.intro__title {
	margin: 0 0 19px;
}


/* .text */

.text {
	font: normal 400 22px/1.5 "Jost", sans-serif;
	letter-spacing: 0.22px;
	color: #4d5053;
}

.intro__desc *:not(:last-child) {
	margin: 0 0 10px;
}


/* .section-header */

.section-header {
	margin: 0 0 35px;
}


/* .btn */

.btn {
	display: inline-block;

	margin: 0 auto;

	padding: 22px 22px 22px 34px;

	background: #292f36;
	border: 1px solid inherit;
	border-radius: 18px;

	font: normal 400 18px/1.5 "Jost", sans-serif;
	text-transform: capitalize;
	letter-spacing: 0.72px;
	color: #ffffff;
}

.btn__container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;

}


/* .features */

.features__list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;

	margin: 0 0 100px;
}

.features__item {
	flex: 0 1 400px;

	padding: 75px 51px 70px;

	text-align: center;

}

.subtitle--min {
	font: 400 normal 25px/1.56 "DM Serif Display", serif;
	letter-spacing: 0.22px;
	text-transform: capitalize;
	color: #292f36;
}

.features__title {
	margin: 0 0 17px;
}

.features__desc {
	margin: 0 0 15px;

	font: normal 400 22px/1.5 "Jost", sans-serif;
	letter-spacing: 0.22px;
	color: #4d5053;
}

.features__desc *:not(:last-child) {
	margin: 0 0 10px;
}

.features__link {
	font: normal 400 18px/1.5 "Jost", sans-serif;
	text-transform: capitalize;
	letter-spacing: 0.36px;
	color: #4d5053;
}


/* .about-us */

.about-us {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 16px;

	width: 100%;

	margin: 0 0 140px;
}

.about-us__column {
	width: 100%;
	max-width: 48%;
}

.about-us__column--text {
	padding: 40px 61px 37px 0;
}

.subtitle {
	font: normal 400 50px/1.3 "DM Serif Display", serif;
	text-transform: capitalize;
	letter-spacing: 0.22px;
	color: #292f36;
}

.about-us__title {
	margin: 0 0 42px;
}

.about-us__desc *:not(:last-child) {
	margin: 0 0 10px;
}

.contacts {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;

	margin: 0 0 50px;
}


/* .reviews */

.reviews {
	width: 100%;

	margin: 0 0 140px;
	padding: 103px 50px 120px;

	background: #f4f0ec;
	border-radius: 70px;
}

.reviews__title {
	max-width: 50%;

	margin: 0 auto 46px;

	text-align: center;
}

.reviews__list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 16px;

	width: 100%;
}

.reviews__item {
	flex: 0 0 356px;

	background: #ffffff;
	border-radius: 30px;
}

.card {
	width: 100%;

	padding: 50px 45px 45px 35px;
}

.card__header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	gap: 20px;

	width: 100%;

	margin: 0 0 25px;
}

.card__img-contain {
	flex: 0 0 77px;

	overflow: hidden;

	border-radius: 50%;
}

.card__icon {
	display: block;

	width: 100%;
}

.text--min {
	font: normal 400 18px/1.5 "Jost", sans-serif;
	letter-spacing: 0.22px;
	color: #4d5053;
}

.text--standart {
	font: normal 400 20px/1.5 "Jost", sans-serif;
	letter-spacing: 0.22px;
	color: #4d5053;
}

.card__contain *:not(:last-child) {
	margin: 0 0 10px;
}


/* .brand */

.brand {
	width: 100%;

	margin: 0 0 100px;
}

.brand__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	width: 100%;
}


/* .projects */

.projects {
	width: 100%;

	margin: 0 0 80px;
}

.projects__title {
	margin: 0 0 20px;

	text-align: center;
}

.projects__desc {
	width: 100%;
	max-width: 786px;

	margin: 0 auto;

	text-align: center;
}

.projects__desc *:not(:last-child) {
	margin: 0 0 10px;
}

.projects__list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 20px;

	width: 100%;
}

.projects__item {
	margin: 0 0 40px;

	overflow: hidden;

	border-radius: 0 90px 0 0;
}

/* .article-card */

.article-card__img-contain {
	margin: 0 0 25px;
}

.article-card__desc {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;

	width: 100%;
}

.article-card__desc--column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	width: 100%;
}

.article-card__contain {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;

	width: 100%;
}

.article-card__header {
	margin: 0 0 10px;
}

.article-card__link-contain {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex: 0 0 70px;

	height: 70px;

	background: #f4f0ec;
	border-radius: 50%;
}

.article-card__link-contain--min {
	flex: 0 0 52px;

	height: 52px;
}


/* .specific */

.specific {
	margin: 0 0 130px;
	padding: 140px 0;

	background: #f4f0ec;
}

.specific__list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 16px;

	width: 100%;

	margin: 0 auto;
}

.specific__item {
	flex: 0 0 288px;

	text-align: center;
}

.specific__item:not(:last-child) {
	border-right: 1px solid #cda274;
}

.specific__nam {
	margin: 0 0 10px;

	font: normal 400 85px/1.5 "DM Serif Display", serif;
	letter-spacing: 1.7px;
	color: #cda274;
}


/* .blog */

.blog {
	width: 100%;

	margin: 0 0 100px;
}

.blog__title {
	margin: 0 0 21px;

	text-align: center;
}

.blog__desc {
	width: 100%;
	max-width: 589px;

	margin: 0 auto 70px;

	text-align: center;
	color: #4d5053;
}

.blog__desc *:not(:last-child) {
	margin: 0 0 10px;
}

.blog__list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 15px;

	width: 100%;
}

.blog__item {
	flex: 0 0 387px;

	margin: 0 0 20px;
	padding: 21px 21px 40px;

	border: 1px solid #e7e7e7;
	border-radius: 62px;
}


/* .connect */

.connect {
	width: 100%;

	margin: 0 0 80px;
	padding: 100px 0 95px;

	background: #292f36;
	border-radius: 70px;

	text-align: center;
}

.connect__title {
	margin: 0 0 9px;

	text-align: center;
}

.subtitle--contrast {
	color: #ffffff;
}

.text--contrast {
	color: #ffffff;
}

.connect__desc {
	margin: 0 0 31px;

	text-align: center;
}

.connect__desc *:not(:last-child) {
	margin: 0 0 10px;
}

.connect__btn {
	width: 100%;
	max-width: 241px;

	margin: 0 auto;
}

.btn--contrast {
	background: #cda274;

	color: #ffffff;
}


/* .footer */

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	padding: 50px 0 35px;
}

.footer__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 16px;

	width: 100%;

	margin: 0 0 110px;
}

.footer__copyright {
	padding-top: 35px;

	border-top: 1px solid #e5e5e5;
}

.footer__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__subtitle {
	margin: 0 0 22px;
}

.footer__point {
	margin: 0 0 30px;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	gap: 40px;

	width: 100%;

	padding: 20px 0 16px;
}

.footer__desc {
	width: 100%;
	max-width: 326px;

	margin: 0 0 10px;
}

.footer__logo {
	margin: 0 0 15px;
}

.footer__contacts {
	width: 100%;
	max-width: 321px;
}


/* links */

.active-link,
.nav__link--active {
	color: #cda274;
}

svg {
	width: 30px;
}