/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&family=Jost&display=swap");

/* .wrapper */

.wrapper {
	width: 100%;
	max-width: 1440px;

	overflow: hidden;

	background: #ffffff;
}


/* .header */

.body__header {
	margin: 0 auto 18px;
	padding: 26px 15px 0;

	max-width: 1200px;

	font: normal 400 20px/1.5 "Jost", sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
}


/* .nav */

.nav__list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	gap: 40px;
}

/* .intro */

.intro__bg {
	width: 100%;
}


/* .title */

.title {
	font: normal 400 80px/1.2 "DM Serif Display", serif;
	letter-spacing: 0.22px;
	text-transform: capitalize;
	color: #292f36;
}